* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: antiquewhite;
}
#main {
  justify-content: center;
}
#img-div {
  justify-content: center;
  display: grid;
  align-items: center;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}
